<!DOCTYPE html>
<html ng-app="status3" ng-controller="main">
  <head>
    <title>Server Status V3.0</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/blocks.js"></script>
    <style>
      *{
        position: relative;
      }
      html, body{
        min-width: 100vw;
        min-height: 100vh;
        margin: 0;
        font-family: "Source Code Pro", monospace;
      }
      [ng-cloak]{
        display: none !important;
      }
    </style>
  </head>
  <body ng-cloak>
    <input ng-model="newMode" type="text" placeholder="Mode">
    <input ng-model="newParams" type="text" placeholder="Params">
    <button ng-click="setMode(newMode, newParams)">Set Mode</button>
    <p>Notice: {{notice}}</p>
    <p>Current Mode: {{mode}}</p>
    <p>Current Params: {{params}}</p>
    <script>
      angular.module('status3', [])
              .controller('main', function($scope, $http, $interval, $timeout){
                function setNotice(message, time){
                  $scope.$apply(function(scope){
                    scope.notice = message;
                  });
                  if(time){
                    $timeout(function(){
                      $scope.notice = '';
                    }, time);
                  }
                }
                $scope.notice = 'Unable to connect to API';
                var socket = io();

                $scope.setMode = function(mode, params){
                  console.log("Sending mode update!", mode);
                  socket.emit('mode_update', {
                    mode: mode,
                    params: params
                  })
                };

                socket.on('mode_update', function(payload){
                  $scope.$apply(function(){
                    if(MODES.indexOf(payload.mode) > -1){
                      $scope.mode = payload.mode;
                      $scope.params = payload.params;
                    } else{
                      $scope.mode = 'default';
                      delete $scope.params;
                    }
                  })
                });


                socket.on('connect', function(){
                  console.log("Connected to Socket");
                  setNotice('Connected');
                });

                socket.on('reconnect', function(){
                  setNotice('Reconnected!', 2000);
                });
                socket.on('reconnecting', function(tryNum){
                  setNotice('Disconnected from API. (' + tryNum + ')');
                });
                socket.on('error', function(){
                  setNotice('Socket Error');
                });
                socket.on('disconnect', function(){
                  setNotice('Disconnected from API');
                });
              });
    </script>
  </body>
</html>
